.sub-header__top {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: $prim-color-light;
}
.sub-header__top--index {

  padding-top: 78px;
  padding-bottom: 117px;
  background: $prim-color-light url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
}

.sub-header__title {
  align-self: center;
  width: 240px;
  text-align: center;
  color: $prim-txt-color;
}
.sub-header__nav {
  display:none;
}
