.sub-header {
  background-color: $prim-color;
  padding-bottom: 44px;
  margin-bottom: 30px;

  @media #{$tablet-width} {
    padding-bottom: 78px;
    margin-bottom: 80px;
  }

  @media #{$desktop-width} {
    padding-bottom: 87px;
    margin-bottom: 145px;
  }
}

.sub-header--form {
  margin-bottom: 23px;

  @media #{$tablet-width} {
    margin-bottom: 73px;
  }
  @media #{$desktop-width} {
    margin-bottom: 136px;
  }
}

.sub-header__top {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 130px;
}

.sub-header__nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  padding-left: 50px;
  padding-right: 50px;

  @media #{$mobile-only}{
    display: none;
  }
}

.sub-header__link {
  display: block;
  // width: 100%;
  text-align: left;
  padding-top: 17px;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $prim-txt-color;
  transition: color 0.3s ease;
}

.main-nav__link[href] {
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.sub-header__link--disabled {
  font-weight: 400;
  pointer-events: none;
  cursor: default;
  opacity: 0.6;

}

.sub-header__link:last-child {
  margin-left: auto;
  text-align: right;
}

@media #{$desktop-width} {
  .sub-header__link--catalog,
  .sub-header__link--order {
    display: none;
  }
  .sub-header__link--new {
    margin-right: 60px;
  }
}

@media #{$tablet-only} {
  .sub-header__link--new,
  .sub-header__link--sale {
    display: none;
  }
  .sub-header__link--catalog {
    margin-right: 36px;
  }
}

.sub-header__title {
  flex-grow: 0;
  width: 100%;
  align-self: center;
  text-align: center;
  color: $prim-txt-color;
  margin-top: 69px;

  @media #{$tablet-width} {
    margin-top: 55px;
  }
  @media #{$desktop-width} {
    margin-top: 53px;
  }
  @media #{$mobile-only}{
    width: 260px;
  }
}

.sub-header__top--index {

  @media #{$mobile-only}{
    background: $prim-color-light url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
    padding-top: 0;
    padding-bottom: 120px;
  }

  @media #{$tablet-width} {
    background: $prim-color-light url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
    padding-bottom: 372px;
  }

  @media #{$desktop-width} {
    background: $prim-color-light url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
    padding-bottom: 360px;
  }
}

.sub-header__top--index {
  .sub-header__nav {
    margin-bottom: 57px;
  }
}

.sub-header--index {
  background-color: $prim-color-light;
  padding-bottom: 0;
  margin-bottom: 27px;

  @media #{$tablet-width} {
    margin-bottom: 47px;
  }
  @media #{$desktop-width} {
    margin-bottom: 26px;
  }
}
